
#vasu{
    background-color: 	rgb(255,255,0);
margin-top: -20px;

}
#a{
    text-align: center;
}
#b{
    background-color: rgb(64,224,208);
}
#c{
    border-radius: 10px;
    padding: 10ppx;
    margin-top: 35px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}
#d{
    border-radius: 10px;
    margin-left: 170px;
    margin-top:-100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}
#e{
    border-radius: 10px;
    margin-left: 310px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}
#f{
    border-radius: 10px;
    margin-left: 460px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}
#g{
    border-radius: 10px;
    margin-top: 35px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}
#h{
    border-radius: 10px;
    margin-left: 170px;
    margin-top:-100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}
   

#i{ border-radius: 10px; 
     margin-left: 310px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;

}
#j{
    border-radius: 10px;
    margin-left: 460px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    
}
#k{ border-radius: 10px;
       margin-top: 35px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
  
}
#l{ border-radius: 10px;  
     margin-left: 170px;
    margin-top:-100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
   
}
#m{ border-radius: 10px; 
     margin-left: 310px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;

    
}
#n{  margin-left: 460px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
}



#o{    margin-top: 35px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
  
}
#p{    margin-left: 170px;
    margin-top:-100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
}
#q{   margin-left: 310px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    
}
#r{  margin-left: 460px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
}





#s{    margin-top: 35px;
    margin-left: 20px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
}
#t{    margin-left: 170px;
    margin-top:-100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
}
#u{   margin-left: 310px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
    
}
#v{  margin-left: 460px;
    margin-top: -100px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    border-radius: 10px;
}
#zx{
    background-color:	rgb(30,144,255);
    text-align: center;
    

}
#as{
    margin-top:-1px;
    margin-left: 17px;
   color:rgb(255,20,147);
}
#az{
    margin-top:-1px;
    margin-left: 20px;
}
#sx{
    margin-top:-1px;
    margin-left: 20px;
}
#hy{
    margin-top:-1px;
    margin-left: 20px;
}

#dc{
    margin-top:-1px;
    margin-left: 20px;
}
#fv{
    margin-top:-1px;
    margin-left: 20px;
}
#gb{
    margin-top:-1px;
    margin-left: 20px;
}#hn{
    margin-top:-1px;
    margin-left: 20px;
}
#jm{
    margin-top:-1px;
    margin-left: 20px;
}
#km{
    margin-top:-1px;
    margin-left: 20px;
}
#lm{
    margin-top:-1px;
    margin-left: 20px;
}
#pl{
    margin-top:-1px;
    margin-left: 20px;
}
#ok{
    margin-top:-1px;
    margin-left: 20px;
}
#ij{
    margin-top:-1px;
    margin-left: 20px;
}#uh{
    margin-top:-1px;
    margin-left: 20px;
}
#yg{
    margin-top:-1px;
    margin-left: 20px;
}
#fr{
    margin-top:-1px;
    margin-left: 20px;
}
#aq{
    margin-top:-1px;
    margin-left: 20px;
}
#sw{
    margin-top:-1px;
    margin-left: 20px;
}
#de{
    margin-top:-1px;
    margin-left: 20px;
}